{% extends 'base.html.twig' %}

{% block title %}list article{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            
            </tr>
        </thead>
        <tbody>
        {% for Article in article %}
            <tr>
                <td>{{ Article.id }}</td>
                <td>{{ Article.name }}</td>
                <td>{{ Article.price }}</td>
              
                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
